torch
torchvision
torchaudio
numpy
pandas
scipy
Pillow
opencv-python
matplotlib
scikit-learn
albumentations
timm
segmentation-models-pytorch
torchmetrics
tqdm
torchinfo
pkbar
grad-cam 
